html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
  padding: 10px 10px;
  transition-duration: 0.4s;
  width: 200px;
  height: 45px;
  font-size: 17px;
}

button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
  padding: 10px 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}